@import "/src/styles/styles.scss";
@import "/src/styles/Breakpoints.scss";

.banner {
  height: 68px;
  padding: 45px 100px 45px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include mobile{
    height: 46px;
    gap: 45px;
    padding: 20px 10px 20px 10px;

  }

  .banner-nav {
    display: flex;
    align-items: center;
    gap: 57px;
    @include mobile{
      gap: 27px;
    }
    a {
      text-decoration: none;
      color: $font-color;
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      @include mobile{
      font-size: 12px;
      text-transform: uppercase;

    }

    }

    a:hover {
      text-decoration: underline;
    }
  }
}
