@use "/src/styles/Breakpoints.scss" as *;



.home-title , .img-about{
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 45px;
    @include mobile{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0px;
    }

   
    .home-title-text{
        position: absolute;
        margin: 84px;
        font-size: 48px;
        font-weight: 700;
        color: white;
        z-index: 1;
        font-family: 'Montserrat', sans-serif;
        @include mobile{
            margin: 0px;
            font-size: 24px;
            padding: 28px 120px 28px 40px;
        }
        @include tablet{
            font-size: 36px;
            top : 15%;
            padding: 0

        }
        
    }
    .img-home-title, .img-mountain{
        height: 223px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(0.5);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        @include mobile{
            height: 111px;
            border-radius: 10px;

        }
    }
}

